{% extends 'admin/_base.html' %} {% block display %}style="display: block;{%endblock %}
 {% block list-state %}active{% endblock %} {% block content %}

<div class="py-4 px-3 px-md-4">
  <div class="card mb-3 mb-md-4">
    <div class="card-body">
      <!-- Breadcrumb -->
      <nav class="d-none d-md-block" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'contact-list' %}">Contacts</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">All Contacts</li>
        </ol>
      </nav>
      <!-- End Breadcrumb -->

      <div class="mb-3 mb-md-4 d-flex justify-content-between">
        <div class="h3 mb-0">All contact List</div>
      </div>

      <!-- Users -->
      <div class="table-responsive">
        <table class="table text-nowrap mb-0">
          <thead>
            <tr>
              <th class="font-weight-semi-bold border-top-0 py-2">Name</th>
              <th class="font-weight-semi-bold border-top-0 py-2">Email</th>
              <th class="font-weight-semi-bold border-top-0 py-2">Subject</th>
              
              <th class="font-weight-semi-bold border-top-0 py-2">
                Created date
              </th>
              
              <th class="font-weight-semi-bold border-top-0 py-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            {%if contact %}
            {% for post in contact %}
            <tr>
              <td class="align-middle py-3">
                <div class="d-flex align-items-center">{{post.name}}</div>
              </td>
              <td class="align-middle py-3">
                <div class="d-flex align-items-center">{{post.email}}</div>
              </td>
              <td class="py-3">{{post.subject|slice:":21"}}..</td>
             
              <td class="py-3">{{post.date}}</td>
             
              <td class="py-3">
                <div class="position-relative">
                  
                  <a class="link-dark d-inline-block" href="#">
                    <i class="gd-trash icon-text"></i><span> delete</span>
                  </a>
                </div>
              </td>
            </tr>
            {%endfor%} {%else%}
            <tr>
              <td colspan="6" align="center">You didn't post yet</td>
            </tr>
            {%endif%}
          </tbody>
        </table>
        
      </div>
      <!-- End Users -->
    </div>
  </div>
</div>

{% endblock %}
