{% extends 'base.html' %}
{% load static %}

{% block title %}
  Aboutus
{% endblock %}
{% block content %}
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="{% static 'img/about-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Mission:</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            To deliver advanced irrigation solutions that enhance agricultural productivity, conserve water resources, and support sustainable practices through innovative technology, expert service, and a commitment to customer satisfaction.
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Target:</h4>
              <i class="fa-solid fa-circle-check"></i><p> Enhancing Productivity: Providing solutions that improve agricultural yields and support the growth of crops and plants.

              </p><p>  Promoting Sustainability: Offering eco-friendly products and practices that conserve water and minimize environmental impact.
              </p>
              <p>Meeting Customer Needs: Delivering high-quality products and services that meet or exceed customer expectations and provide value.
              </p>

              
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              
              <h4>Target cont...</h4>
              
              <p>Driving Innovation: Investing in research and development to create cutting-edge technologies and solutions for modern irrigation challenges.
              </p><p>Expanding Market Presence: Growing the company's reach in the agricultural and landscaping markets through strategic marketing, partnerships, and customer relationships.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
</main>
{% endblock %} 
