
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
      {% block title %}
      
      {% endblock%} | Neró
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/NERO.png' %}" rel="icon">
  <link href="{% static 'img/NERO.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'home'%}"><span><img src="{% static 'img/NERO.png' %}" alt="" class="img-fluid">Irrigation</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'img/NERO.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        {% with request.resolver_match.url_name as url_name %}
        <ul>
          <li><a class="scrollto {% if url_name == 'home' %}active{% endif %}"  href="{% url 'home'%}">Home</a></li>
          <li><a class="scrollto {% if url_name == 'aboutus' %}active{% endif %}"  href="{% url 'aboutus'%}">About Us</a></li>
          <li><a class="scrollto {% if url_name == 'portfolio' %}active{% endif %}"  href="{% url 'portfolio'%}">Gallery</a></li>
          <li><a class="scrollto {% if url_name == 'contactus' %}active{% endif %}"  href="{% url 'contactus'%}">Contact</a></li>
          
        </ul>
        {% endwith %}
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block content %}
 
  
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Neró Irrrigation</h3>
            <p>
               <br>
              Kigali,<br>
              Rwanda <br><br>
              <strong>Phone:</strong> +250784918628<br>
              <strong>Email:</strong> Mukizajanvier44@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
          
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'portfolio'%}">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contactus'%}">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'login'%}">Admin</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">Enhancing Productivity</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">Promoting Sustainability</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">Meeting Customer Needs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">Driving Innovation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus'%}">Expanding Market Presence</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Visit us on our social media on below link:</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Neró irrigation company "challenge for feed"</span></strong>. All Rights Reserved
      </div>
     
     <!-- <div class="credits">
        
        Designed by <a href="#">Zachee</a> End Footer --> 
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
 
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script>
  $(document).ready(function() {

           var CurrentUrl= document.URL;
           var CurrentUrlEnd = CurrentUrl.split('/').filter(Boolean).pop();
           console.log(CurrentUrlEnd);
           $( "#navbar li a" ).each(function() {
                 var ThisUrl = $(this).attr('href');
                 var ThisUrlEnd = ThisUrl.split('/').filter(Boolean).pop();

                 if(ThisUrlEnd == CurrentUrlEnd){
                 $(this).closest('li').addClass('active')
                 }
           });

  });
</script>
</body>

</html>